/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/custom-ion-colors.scss";
// Add base app styles
@import "./theme/app-defaults.scss";
// Add base shell styles
@import "./theme/shell-defaults.scss";

ion-content {
  --background: #f8d8d9;
}
ion-title {
  max-width: 960px;
  margin: 0 auto;
}
.content {
  max-width: 960px;
  margin: 0 auto;
  min-height: calc(100vh - 57px);
  //   background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
ion-tab-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
  --background: #ea535a;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  //   background: #eecda3; /* fallback for old browsers */
  //   background: -webkit-linear-gradient(to right, #eecda3, #ef629f); /* Chrome 10-25, Safari 5.1-6 */
  //   background: linear-gradient(
  //     to right,
  //     #eecda3,
  //     #ef629f
  //   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ion-tab-button {
    // color: #3f311c;
    color: #fff;

    --background: grba(0, 0, 0, 0);
  }
  .ion-activatable {
    color: #fff;
  }
}

ion-tabs {
//   background-color: #f6787a;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ea535a;
}

