hr {
  background-color: #c1c1c1;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 0px;
}

ion-card {
  margin: 5px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
  ion-card-header {
    padding: 0px;
  }
  ion-card-content {
    padding: 10px 5px 10px 10px;
    height: 83px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

h3 {
  margin-top: 0px;
  padding-top: 15px;
  color: #ea535a;
  font-weight: 800;
  font-family: "kanitb";
}

.icon-star {
  color: #7dd3f0;
  font-size: large;
}

.ribon {
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 2px 5px 2px 5px;
  background-color: rgb(250, 7, 63);
  color: white;
  font-size: large;
  box-shadow: -3px 2px 3px black;
}

.card-content {
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 200px;
  padding: 5px;
  padding-bottom: 60px;
  //   margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 -0.3rem 0.3rem rgba(0, 0, 0, 0.075) !important;
  .car {
    width: 150px;
    margin-right: 30px;
    margin-top: 20px;
    position: absolute;
    right: 0px;
    top: -132px;
  }
}
.top-header {
  background-color: #fda7a8;
  height: 200px;
  position: fixed;
  top: 0px;
  max-width: 960px;
  width: 100%;
  h1 {
    font-family: "kanitb";
    display: inline;
    margin: 40px;
    margin-top: 80px;
    font-size: 30px;
    color: #fff;
  }
  .search {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    ion-icon {
      text-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.075) !important;
    }
  }
}

.content {
  background-color: #fda7a8;
}

@media only screen and (max-width: 500px) {
  .card-content {
    .car {
      width: 90px;
      margin-right: 30px;
      margin-top: 20px;
      top: -80px;
    }
  }
}
