<ion-tabs color="primary">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="order">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>ออเดอร์</ion-label>
    </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>โฮม</ion-label>
      </ion-tab-button>



    <ion-tab-button tab="me">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>ฉัน</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>