.card {
    .header {
      height: 150px;
      .avatar {
        width: 90px;
        height: 90px;
        position: relative;
        margin-left: 20px;
        bottom: -70px;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        // border-radius: 8px;
        // border: 5px rgb(93, 92, 92) solid;
        display: inline-block;
        -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
        img {
          display: block;
        }
      }
      .playername {
        text-shadow: 2px 2px 2px #000000;
      }
      .titile-res {
        display: inline-block;
        position: absolute;
        top: 110px;
        color: white;
        text-align: left;
        padding-left: 15px;
      }
    }
    height: 170px;
    background: linear-gradient(
      0deg,
      #020024 0%,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0) 34%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  
  .head {
    height: 170px;
    background-size: 100%;
    background-image: url(https://www.mrperswall.com/sites/default/files/styles/gallery_large/public/wallpapers/wall/P140601-W.jpg?itok=qjrU9jmN);
  }
  
  .icon-menu-group {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    ion-col {
      text-align: center;
    }
    .icon-menu {
      font-size: xx-large;
      color: #353434;
      border: solid 3px rgb(177, 194, 255);
      padding: 10px;
      border-radius: 25px;
      width: 90px;
      margin: 0 auto;
      box-shadow: 3px 3px 3px #777777;
    }
    .icon-tite {
      font-size: 16px;
      margin-top: -10px;
    }
  }
  .res-rate {
    .icon-star {
      color: #f9c828;
      font-size: large;
    }
  }
  
  .profile-user {
    margin: 15px 0px 5px 15px;
    border-radius: 5px;
    border: 5px rgb(241, 241, 241) solid;
    display: inline-block;
    box-shadow: 0px 1px 5px #777777;
    img {
      width: 40px;
    }
  }
  .rate-user {
    position: absolute;
    display: inline-block;
    margin: 20px 0px 0px 10px;
    .icon-star {
      color: #f9c828;
      font-size: large;
    }
  }
  .name-user {
    position: absolute;
    display: inline-block;
    margin: 25px 0px 0px 10px;
    p{
      width: 210px;
      overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
  }
  .date-comment{
    position: absolute;
    display: inline-block;
    right: 15px;
    margin: 20px 0px 0px 0px;
  }
  
  .card-comment {
    ion-card-content {
      margin-top: 0px;
      padding-top: 0px;
    }
  }
  
  .content{
      background-color: #686868;
  }