<ion-content>
  <div class="content">
    <div  class="head">
      <div class="card">
        <div class="header">
          <div class="avatar">
            <img src="https://app.deltafood.co/img/logo.png" alt="" />
          </div>
          <div class="titile-res">
            <div class="user-meta ion-text-center">
              <h4 class="playername">
                ArtBox Thailand
                <!-- {{res_data.name}} -->
              </h4>
              <!-- <h5 class="country">{{res_data.address}}</h5> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-row class="icon-menu-group ">
      <ion-col>
        <div class="icon-menu">
          <img src="https://image.flaticon.com/icons/png/512/1069/1069351.png" width="35px">
          <!-- <ion-icon name="cube"></ion-icon> -->
          <div class="icon-tite">จองโต๊ะ</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="icon-menu">
          <img src="https://image.flaticon.com/icons/png/128/2331/2331926.png" width="35px">
          <!-- <ion-icon name="cube"></ion-icon> -->
          <div class="icon-tite">จองคิว</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="icon-menu">
          <img src="https://image.flaticon.com/icons/png/128/743/743501.png" width="35px">
          <!-- <ion-icon name="cube"></ion-icon> -->
          <div class="icon-tite">เดลิเวอรี่</div>
        </div>
      </ion-col>
    </ion-row>
  
    <ion-card>
      <ion-card-header style="padding-bottom: 0px;">
        <ion-card-subtitle>
          <div class="res-rate">
            (305)
            <ion-icon name="star" class="icon-star"></ion-icon>
            <ion-icon name="star" class="icon-star"></ion-icon>
            <ion-icon name="star" class="icon-star"></ion-icon>
            <ion-icon name="star" class="icon-star"></ion-icon>
            <ion-icon name="star" class="icon-star"></ion-icon>
          </div>
        </ion-card-subtitle>
        <ion-card-title style="margin-bottom: 10px;">บริการจากทางร้าน</ion-card-title>
      </ion-card-header>
      <ion-card-content style="padding-bottom: 0px;">
        <div>
          <!-- <ul>
            <li *ngFor="let detail of res_data.detail">
              {{detail}}
            </li>
          </ul> -->
        </div>
      </ion-card-content>
      <ion-card-header style="padding-bottom: 10px;padding-top: 0px;">
        <ion-card-title>ที่อยู่ร้าน</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          <strong style="color: #262626">เวลา เปิด-ปิด : </strong> 09.00 - 18.00
        </p>
        <p>
          <strong style="color: #262626">สถานที่ : </strong> 
          <!-- {{res_data.address}} -->
        </p>
        <p>
          <strong style="color: #262626">ตำแหน่งร้าน : </strong>
          
        </p>
      </ion-card-content>
    </ion-card>
  
    <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9,1]" class="card-comment">
      <div class="head-user">
        <div class="profile-user">
          <img src="https://39rqgn14z3ug4c49y41m62xn-wpengine.netdna-ssl.com/wp-content/uploads/2018/07/19.jpeg">
        </div>
        <div class="date-comment">
          20-03-2020
        </div>
        <div class="rate-user">
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
        </div>
        <div class="name-user">
          <p>
            Pun_panjapon
          </p>
        </div>
      </div>
      <ion-card-content>
        <div>
          <p>
            อาหารญี่ปุ่นวัตถุดิบดี จัดแต่งอย่างประณีต เสริฟตามลำดับ จะเลือกทานแบบคอร์ส
            ไคเซกิหรือเลือกทานตามเมนูที่ชอบก็ได้ อร่อยดีงาม บริการเลิศในบรรยากาศสงบแบบบ้านญี่ปุ่น
            เมนูขึ้นชื่อเป็นเต้าหู้ที่ทำจากถั่วเหลืองออแกนิค ไม่ถนัดเต้าหู้ก็มีซูชิ ซาชิมิ เนื้อวัว
            ปูทาราบะและอื่นๆให้เลือก เวลาทานเนื้อย่างอาจมีควันและกลิ่นรบกวนเล็กน้อย โดยรวมดีงามถูกใจ
            ตามสั่งราคาสูงหน่อยค่ะ ส่วนlunch Set ราคาไม่แพง อ่านต่อได้ที่
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>